.wrapper {
  padding: 20vh 10vw 0;
  display: flex;
  align-items: center;
  flex-flow: column nowrap;
}
.banner {
  width: 48px;
  margin-bottom: 24px;
}
.title {
  margin-bottom: 16px;
  font-weight: 600;
  font-size: 24px;
  color: #666;
}
.content {
  margin-bottom: 8px;
  color: #999;
}
